.select-BG{
    background-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 2.08%, rgba(0, 0, 0, 0.32) 74.67%, rgba(0, 0, 0, 0.2) 100%), url('./bg-home.webp');
    background-attachment: fixed;
}

@media only screen and (max-width: 450px) {
    .select-BG{
        background-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 2.08%, rgba(0, 0, 0, 0.32) 74.67%, rgba(0, 0, 0, 0.2) 100%), url('./bg-resp.png');
        background-attachment: fixed;
    background-size: cover;
    height: 90vh;
    background-position: 0px 30px;
    }
  }